@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,800;1,500;1,600&family=Roboto:wght@300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

body {
    min-height: 100vh;
    background: rgb(255, 211, 218);
    background-image: url("../images/background-images/background.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* FONTS */

h2 {
    font-size: 1.1em;
    font-weight: 400;
    color: white;
}

p {
    font-size: 1.8em;
    font-weight: 600;
    text-transform: uppercase;
    color: #fef280;
    text-shadow: 2px 2px black;
    margin-bottom: .1em;
}

/* Prevents images from being selected or copied 
on touch devices and desktop browsers. */
img { 
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* HEADER */

header {
    background: #d67983a6;
    color: white;
    text-align: center;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    display: flex;
    align-items: center;
}

header section {
    text-align: center;
}

header h1 img {
    width: 200px;
}

header div {
    display: flex;
    justify-content: space-between;
}

header section {
    margin: 0 5px;
}

header img:hover,
header p:hover {
    transform: rotate(-3deg);
}

#metricsContainer img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

#metricsContainer div {
    background: #fbf4f46b;
    padding: 7px 6px 0px 6px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #f1dddd;
}

#metricsContainer h2 {
    background: #f1919b;
    margin-bottom: -8px;
    border: 2px solid #f1dddd;
    color: white;
    position: relative;
    z-index: 3814230482;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 0 4px;
}

/* FOOTER */

footer {
    background: #d67983a6;
    color: white;
    width: 100%;
    padding: 0.5em;
}

/* GAME CONTAINER */

#gameContainer {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

/* GAME BOARD */

.board {
    width: auto;
    max-width: 500px;
    min-height: 500px;
    height: auto;
    padding: 25px;
    background-color: #ffffffa6;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: space-around;
    align-content: space-around;
    border: 3px solid white;
    border-radius: 2em;
    margin: 20px;
}

.board img {
    width: 120px; 
    height: 120px;
    background-color: f7dfe0;
    padding: 10px;
    border-radius: 10px;
}

/* START BOARD & END BOARD */

#infoScreen {
    padding: 10px;
    height: auto;
}

#infoScreen img {
    width: 100%;
    height: auto;
    border-radius: 2em;
    margin-bottom: 1em;
}

#infoScreen img:hover {
    transform: rotate(0deg);
}

/* BUTTON */

button {
    background: #d67983;
    color: white;
    background:rgb(255, 211, 218);;
    color: #d67983;
    padding: 15px;
    border-radius: 10px;
    font-size: 1.5em;
    border: 3px solid white;
    margin-bottom: .8em;
}

button:hover {
    background: white;
    color: #d67983;
    border-color: #d67983;
    transform: rotate(-3deg);
}

/* RESPONSIVE */

/* targets only devices that can hover */
@media (hover: hover) { 
    .board img:hover {
        border: 5px solid #505155;
        transform: rotate(4deg);
        background-color: #e8ecf9c2;
        border-color: white;
    }
} 

/* Small screens */
@media all and (max-width: 500px) {
    body {
        background-size: auto;
    }

    header {
        padding: 5px 10px;
    }

    header h1 img {
        width: 125px;
    }

    #metricsContainer img {
        display: none;
    }

    main {
        margin-bottom: 10px;
    }

    #gameContainer {
        flex-direction: column;
    }

    .board {
        padding: 10px;
        height: auto;
        min-height: 0;
    }
    
    .board img {
        width: 80px;
        height: 80px;
        margin: 6px;
    }

    .board:nth-of-type(2) {
        margin-top: 0;
        margin-bottom: 0;
    }

    footer {
        margin-top: auto;
    }
}
